body {
    background-image: url(../img/slot/slot.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.table-area {
    /* outline: auto; */
    height: 20vh;
}

table {
    border: 0cap solid rgb(140, 140, 140);
    background-color: rgb(200,200,200,0.6);
    font-weight: bold;
}

table img{
    display: flex;
    align-items: center;
    height: 2.0vw;
    width: 5.0vw;
    display: flex;
    align-items: center;
}

td {
    padding: 0.5vw;
    text-align: left;
    border: 2px solid rgb(140, 140, 140)
}

.slot-body {
    margin-top: 0.1%;
    width: 100%;
    height: 50vh;
    /* outline: auto; */
    display: flex;
    justify-content: center;
    position: relative;
}

.slot-backgrand {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* outline: auto; */
    height: 40vh;
    width: 40vw;
}

.slot-area {
    height: 30vh;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* outline: auto; */
    display: flex;
    justify-content: center;
}

.slot {
    height: 30vh;
    width: 12vw;
    /* outline: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 2, 10, 0.735);
}

.slot-img {
    /* outline: auto; */
    width: 50%;
    animation: slot-typ 0.1s linear infinite;
}

.slot img {
    position: absolute;
    width: 50%;
}

@keyframes slot-typ {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(40%);
    }
}

.select-area {
    margin-top: 0.5%;
    height: 10vh;
    width: 100%;
    /* outline: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-button {
    width: 40vw;
    height: 10vh;
    /* outline: auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    width: 5vw;
    height: 6vh;
    display: inline-block;
    border-radius: 50% / 50%;
}

.s-r-area {
    margin-top: 4%;
    height: 10vh;
    width: 100%;
    /* outline: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-rest-bt {
    width: 40vw;
    height: 10vh;
    /* outline: auto; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.start-button {
    width: 8vw;
    height: 10vh;
    border-radius: 50%;
    background-color: goldenrod;
    font-weight: bold;
    font-size: 2vw;
}

.rest-bt {
    width: 8vw;
    height: 10vh;
    border-radius: 50%;
    background-color: red;
    font-weight: bold;
    font-size: 2vw;
}